.btn,
.btn:link,
.btn:visited,
.btn:hover,
.btn:active{
	outline: 0;
}

.btn:focus{
	outline: 0;
	border: 2px solid black;
}


#blog_p{
width: 68%;
margin: 3% auto;
text-align: justify;
}


#results_box{
	margin: 5% auto;
}
#results_box>div{
	width: 32%;
	height: 22em;
	border: 1px solid #999999;
	margin: .5em;
	padding: .7em;
}

#results_box>div>h3{
	font-size: 1.4em;
}

#results_box>div>p{
	font-size: 1.1em;
}


.blog_modal>.modal-dialog{
	position: relative;
	width: 70%;
	margin: 2em auto;
}
.blog_modal .blog-title{
	text-align: center;
	font-size: 1.4em;
	font-weight: 900; 
}
/*
.blog_modal .modal-body p{
	-webkit-animation-name: example; /* Chrome, Safari, Opera 
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera 
    animation-name: example;
    animation-duration: 1s;
}

@-webkit-keyframes example {
    from {font-size: 2.5em;}
    to {font-size: 1.4em;}
}

/* Standard syntax 
@keyframes example {
    from {font-size: 2.5em;}
    to {font-size: 1.4em;}
}
*/


#results_box a{
	margin-right: 1em;
}

@media screen and (max-width:1199px) {
    #results_box>div{
	width: 48%;
	height: 20em;
	border: 1px solid #999999;
	margin: .5em;
	padding: .7em;
}
}

@media screen and (max-width:990px) {
    #results_box>div{
	width: 46%;
	height: 24em;
}
}

@media screen and (max-width:768px) {
    #results_box>div{
	width: 100%;
	height: 16em;
}
}

@media screen and (max-width:690px) {
    #results_box>div{
	width: 100%;
	height: 19em;
}
}

@media screen and (max-width:440px) {
    #results_box>div{
	width: 100%;
	height: 29em;
}
}